html {
    box-sizing: border-box;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

:focus {
    outline: 2px solid #ff9900;
}

img {
    max-width: 100%;
}
p {
    margin: 0;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Regular'),
		url('../fonts/MontserratRegular.woff2') format('woff2'),
		url('../fonts/MontserratRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-SemiBold'),
		url('../fonts/MontserratSemiBold.woff2') format('woff2'),
		url('../fonts/MontserratSemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Bold'),
		url('../fonts/MontserratBold.woff2') format('woff2'),
		url('../fonts/MontserratBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-ExtraBold'),
		url('../fonts/MontserratExtraBold.woff2') format('woff2'),
		url('../fonts/MontserratExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
}

.section {
    margin-bottom: 100px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.title {
    margin: 0;
}

.section-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.btn {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn__fill {
    font-weight: 700;
    background-color: #ff9900;
    transition: background-color 100ms linear;
}

.btn__fill:hover {
    background: #f7b045;
}

.btn__fill:focus {
    outline: none;
    background: #f7b045;
}

.btn__fill:active {
    background: #e1670e;
}

/* header */

.menu {
    position: absolute;
    width: 420px;
    height: 720px;
    background-color: #fff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    z-index: 5;
    transition: transform .3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
}

.menu.is-active {
    transform: none;
}

.menu__x {
    margin: 50px 0 100px 50px;
    cursor: pointer;
}

.menu__item:not(:last-child) {
    margin-bottom: 60px;
}

.menu__link {
    margin-left: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333;
}

.menu__link:hover {
    transition: color 100ms linear;
    transition: border 50ms ease-in;
}

.menu__link:hover {
    border-bottom: 2px solid #ff9900;
}

.menu__link:active {
    outline: none;
    color: #e1670e;
    border-bottom: 2px solid #e1670e;
}

.search {
    position: absolute;
    right: 0;
    top: 20px;
    align-items: center;
    justify-content: space-around;
    width: 539px;
    height: 60px;
    max-width: 85vw;
    background-color: #fff;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 5;
    transition: transform .3s ease-in-out;
    transform: scaleY(0);
    transform-origin: 88%;
}

.search__icon {
    cursor: pointer;
}

.search__icon rect{
    fill: #ff9900;
}

.search__icon path{
    stroke: #ff9900;
}

.search__close {
    cursor: pointer;
}

.search__close:hover rect {
    fill: #ff9900;
}

.search__close:hover circle {
    stroke: #ff9900;
}

.search__close:active rect {
    fill: #333;
}

.search__close:active circle {
    stroke: #333;
}

.search.is-active {
    transform: none;
}



.search__text {
    width: 412px;
    border: none;
    border-bottom: 1px solid #DCDCDC;
}

.search__text:focus {
    outline: none;
}



.header {
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__title {
    margin: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}

.header__container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__left {
    align-items: center;
}

.header__burger {
    display: none;
}

.header__center {
    display: none;
}

.header__nav {
    max-width: 815px;
}

.header__list {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.header__link {
    margin-right: 85px;
}

.header__link:hover {
    transition: color 100ms linear;
    transition: border 50ms ease-in;
}

.header__link:hover {
    border-bottom: 2px solid #ff9900;
}

.header__link:active {
    outline: none;
    color: #e1670e;
    border-bottom: 2px solid #e1670e;
}

.header__find {
    cursor: pointer;
}

.header__find path {
    transition: stroke 100ms linear;
}

.header__find rect {
    transition: fill 100ms linear;
}

.header__find:hover path {
    stroke: #ff9900;
}

.header__find:hover rect {
    fill: #ff9900;
}




/* slider */

.slider__container {
    position: relative;
}


.swiper-slide {
    width: 100%;
    min-height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-image1 {
    background-image: url("../img/slider_image1.jpg");
}

.slide-image2 {
    background-image: url("../img/slider_image2.jpg");
}

.slide-image3 {
    background-image: url("../img/slider_image3.jpg");
 }

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 20px 30px 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child{
    margin-right: 0;
}



.slider__information {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 80px;
}

.slider__title {
    margin-bottom: 24px;
    max-width: 837px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #fff;
}

.slider__descr {
    margin: 0;
    margin-bottom: 90px;
    max-width: 790px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.slider__btn {
    padding: 24.83px 36.88px;
    font-weight: 700;
    font-size: 23.4581px;
    line-height: 29px;
}

.slider__btn:hover {
    background: rgba(255, 153, 0, 0.7);
}

.slider__btn:focus {
    outline: none;
    background: rgba(255, 153, 0, 0.7);
}

.slider__btn:active {
    background: #E1670E;
}

.slider__item {
    cursor: pointer;
}

.slider__item circle{
    fill: rgba(255, 255, 255, 0.4);
    transition: fill 100ms linear;
}

.slider__item:active circle {
    fill: rgba(255, 255, 255);
}

/* about-us */
.about-us__title {
    margin-bottom: 20px;
}

.about-us__descr {
    max-width: 1235px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.about-us__content {
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-us__left {
    align-items: flex-end;
    width: 868px;
    min-height: 622px;
    background-image: url("../img/Rectangle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.left-content__object {
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.left-content__descr {
    max-width: 454px;
    margin-right: 35px;    /*  Pixel Perfect */
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.left-content__btn {
    padding: 17px 35px;
    font-weight: 700;
    border: 3px solid #ff9900;
    background-color: rgba(100, 100, 100, 0.0);
    transition: background-color 100ms linear;
}

.left-content__btn:hover {
    background: #ff9900;
}

.left-content__btn:focus {
    outline: none;
    border-color: #f7b045;
    background: #f7b045;
}

.left-content__btn:active {
    border-color: #e1670e;
    background: #e1670e;
}

.about-us__right {
    flex-direction: column;
    justify-content: space-between;
    max-width: 870px;
}

.about-card {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 295px;
    background: #fff;
    border: 1px solid #cacaca;
    background-repeat: no-repeat;
    background-position: 60px center;
}

.about-us__card-1 {
    margin-bottom: 32px;
    background-image: url("../img/Frame1.svg");
}

.about-us__card-2 {
    background-image: url("../img/Frame2.svg");
}

.about-card__descr {
    margin-left: 300px;
    margin-right: 115px;
    max-width: 452px;
}

.about-card__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.about-card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

/* how-we-work */

.how-we-work {
    margin-bottom: 102px;   /*  Pixel Perfect */
}

.how-we-work__title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.how-we-work__list {
    margin-bottom: 45px;
}

.how-we-work__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.how-we-work__step--active {
    color: #e1670e;
}

.how-we-work__block {
    display: none;
}

.how-we-work__block--active {
    display: flex;
}


.how-we-work__step {
    cursor: pointer;
    transition: color 100ms linear;
}

.how-we-work__item:not(:last-child) {
    margin-right: 86px;
}

.how-we-work__step:hover {
    color: #ff9900;
}

.how-we-work__step:active {
    outline: none;
    color: #e1670e;
}

.how-we-work__block {
    justify-content: space-between;
    min-height: 460px;
}

.how-we-work__descr {
    flex-direction: column;
    justify-content: space-between;
    width: 42.94%;
    margin-right: 50px;
}

.image1 {
    background-image: url("../img/HowWork_image1.jpg");
}

.image2 {
    background-image: url("../img/HowWork_image2.jpg");
}

.image3 {
    background-image: url("../img/HowWork_image3.jpg");
 }

 .image4 {
    background-image: url("../img/HowWork_image4.jpg");
 }

.how-we-work__image {
    width: 49.15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* work-step */

.work-step__title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.work-step__text {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.work-step__btn-1 {
    margin-right: 31px;
    padding: 19px 38px;
    font-size: 16px;
    line-height: 20px;
}

.work-step__btn-2 {
    padding: 19px 37px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    background: #fff;
    outline: 1px solid #333;
    transition: background-color 100ms linear;
}

.work-step__btn-2:hover {
    color: #fff;
    background: #666;
    outline-color: #666;
}

.work-step__btn-2:focus {
    color: #fff;
    background: #666;
    outline-color: #666;
}

.work-step__btn-2:active {
    color: #fff;
    background: #000;
    outline-color: #000;
}


/* questions */

.questions__title {
    margin-bottom: 32px;
    height: 70px;
    line-height: 59px;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #fff;
    border: none;
}

.ui-widget-content {
    border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    color: #333;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: none;
}

.ui-accordion .ui-accordion-header {
    display: flex;
}

.questions__link {
    border-top: solid 1px #cacaca;
    transition: color 100ms linear;

}

.questions__preview:focus {
    outline: none;
    cursor: pointer;
}

.questions__preview {
    align-items: center;
    justify-content: space-between;
    height: 111px;
    width: 100%;
}

.questions__preview:hover, .questions__preview:focus {
    color: #ff9900;
}


.questions__link:last-child {
    margin-bottom: 102px;
    border-bottom: solid 1px #cacaca;
}

.questions__link:hover, .questions__link:focus {
    min-height: 112px;
    border-top: solid 1px #ff9900;
    border-bottom: solid 1px #ff9900;
}

.questions__link:hover+.questions__link:not(:last-child),
.questions__link:focus+.questions__link:not(:last-child){
    min-height: 110px;
    border-top: solid 1px rgba(0, 0, 0, 0.0);
}

.questions__link:hover+.questions__link:last-child,
.questions__link:focus+.questions__link:last-child{
    min-height: 110px;
    border-top: none;
}

.questions__link:last-child:hover,
.questions__link:last-child:focus {
    min-height: 111px;
    color: #ff9900;
    border-top: solid 1px #ff9900;
    border-bottom: solid 1px #ff9900;
}

.questions__preview ellipse, .questions__preview path {
    transition: fill 100ms linear;
}

.questions__preview:hover ellipse, .questions__preview:focus ellipse {
    fill: #ff9900;
}

.questions__preview:hover path, .questions__preview:focus path{
    fill: #fff;
}

.questions__link:focus {
    outline: none;
}

.questions__link:active {
    color: #333;
    border-top: solid 1px #cacaca;;
    border-bottom: solid 1px #cacaca;;
}

.questions__link:last-child:active {
    color: #333;
    border-top: solid 1px #cacaca;;
    border-bottom: solid 1px #cacaca;;
}

.questions__preview:active ellipse {
    fill: #ececec;
}

.questions__preview:active path {
    fill: #666;
}

.ui-accordion-header-active svg {
    transition: transform 500ms;
    transform: rotate(45deg);
 }

.questions__descr {
    font-size: 16px;
    line-height: 32px;
    color: #333;
 }

.questions__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.questions__icon {
    min-width: 50px;
}

.text__slash {
    color: #cacaca;
    transition: color 100ms linear;
}

.questions__link:hover .text__slash, .questions__link:focus .text__slash {
    color: #ff9900;
}

.questions__link:active .text__slash {
    color: #333;
}

/* footer */

.footer {
    padding: 50px 0;
    background-color: #222;
}

.footer_container {
    justify-content: space-between;
}

.footer__left {
    width: 363px;
}

.footer__logo {
    margin-bottom: 15px;
}

.footer__list {
    margin-bottom: 90px;
}

.footer__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #cacaca;
    transition: color 100ms linear;
}

.footer__link:hover {
    color: #ff9900;
}

.footer__link:active {
    outline: none;
    color: #e1670e;
}

.footer__social:not(:last-child) {
    margin-right: 25px;
}

.footer__social:hover path{
    transition: fill 100ms linear;
}

.footer__social:hover path{
    fill: #ff9900;
}

.footer__social:active path{
    fill: #e1670e;
}

.footer__social:active{
    outline: none;
}

.footer__center {
    width: 570px;
}

.form__title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #cacaca;
}

.form__text {
    display: block;
    padding-left: 24px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
    background: #414141;
    border: none;
    transition: background-color 100ms linear;
}

.form__text::placeholder {
    color: #cacaca;
}

.form__text:hover {
    background: #666;
}

.form__text:focus {
    outline: none;
    background: #666;
}

.form__text:focus {
    color: #fff;
    background: #666;
}

.form__name, .form__email {
    margin-bottom: 25px;
    height: 60px;
}

.form__message {
    padding-top: 14px;
    margin-bottom: 32px;
    height: 150px;
    resize: none;
}

.form__sending {
    justify-content: space-between;
    align-items: center;
}

.form_btn {
    padding: 19px 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.form__checkbox {
    height: 30px;
    cursor: pointer;
    user-select: none;
}

.checkbox__mark {
    position: absolute;
    width: 14px;
    height: 14px;
    opacity: 0;
}

.checkbox__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
}

.checkbox__text::before {
    content: '';
    display: inline-block;
    margin-right: 4px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #cacaca;
}

.checkbox__mark:checked + .checkbox__text::before {
    background-image: url("../img/Mark.svg");
    background-repeat: no-repeat;
    background-position: 10% center;
    background-size: 80%;
}

.checkbox__mark:focus + .checkbox__text {
    outline: 2px solid #ff9900;
  }

.footer__right {
    align-items: center;
    max-width: 363px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
}

@media (max-width: 1766px) {
    .about-us__content {
        flex-direction: column;
    }

    .about-us__left {
        width: 100%;
        min-height: 640px;
        margin-bottom: 32px;
        background-size: cover;
    }

    .about-us__right {
        max-width: 100%;
    }

    .about-card__descr {
        max-width: 100%;
    }
}

@media (max-width: 1340px) {
    .header__left {
        margin-right: 10px;
    }

    .footer_container {
        flex-wrap: wrap;
        padding: 0 40px;
    }

    .footer__center {
        margin-bottom: 30px;
    }

    .footer__right {
        max-width: 100%;
    }

}

@media (max-width: 1024px) {

    .container {
        padding: 0 50px;
    }

    .header__left {
        margin: 0;
    }

    .header__link {
        display: none;
    }

    .header__center {
        display: inline;
        width: 150px;
        height: 48px;
    }

    .left__logo {
        display: none;
    }

    .header__burger {
        display: inline;
        cursor: pointer;
    }

    .slider__information {
        top: 80px;
        padding-right: 80px;
    }

    .slider__title {
        margin-bottom: 16px;
        width: 100%;
        font-size: 60px;
        line-height: 73px;
    }

    .slider__descr {
        margin-bottom: 60px;
        width: 100%;
        font-size: 20px;
        line-height: 24px;
    }

    .slider__navigation {
        left: 46%;
    }

    .section {
        margin-bottom: 80px;
    }

    .about-us__title {
        margin-bottom: 10px;
    }

    .about-us__descr {
        margin-bottom: 62px;
    }

    .about-card__descr {
        margin-left: 317px;
    }

    .about-card {
        background-position: 77px center;
    }

    .how-we-work__descr {
        width: 47.3%;
        margin-right: 0;
    }


    .image1 {
        background-image: url("../img/HowWork_image_1024.jpg");
    }

    .how-we-work__image {
        width: 47.3%;
    }

    .how-we-work__list {
        margin-bottom: 50px;
    }

    .work-step__text {
        margin-bottom: 25px;
    }

    .questions__title {
        height: 59px;
    }

    .questions__text {
        max-width: 756px;
        font-size: 20px;
    }

    .questions__link {
        padding: 30px 0;
    }

    .questions__link:last-child {
        margin-bottom: 82px;
    }

    .footer_container {
        flex-wrap: nowrap;
    }

    .footer__center {
        margin: 0;
        max-width: 541px;
    }

    .footer__right {
        display: none;
    }

    .form_btn {
        margin-right: 10px;
        padding: 19px 37.5px;
    }
}

@media (max-width: 768px) {

    .menu {
        height: 690px;
    }

    .search {
        width: 400px;
        height: 50px;
        top: 10px;
    }

    .search__text {
        width: 300px;
    }

    .header {
        height: 69px;
    }

    .slider {
        min-height: 400px;
    }

    .slider__information {
        top: 80px;
    }

    .slider__title {
        font-size: 50px;
        line-height: 61px;
    }

    .slider__descr {
        font-size: 18px;
        line-height: 22px;
    }

    .slider__navigation {
        left: 44.5%;
    }

    .about-us__descr {
        margin-bottom: 60px;
    }

    .about-us__left {
        min-height: 650px;
        background-position: center;
    }

    .left-content__object {
        padding: 34px 40px;
    }

    .left-content__descr {
        margin: 0;
        max-width: 366px;
    }

    .about-card__descr {
        margin-left: 170px;
        margin-right: 44px;
    }

    .about-card {
        min-height: 235px;
        background-position: 40px center;
        background-size: 114px 99px;
    }

    .how-we-work__list {
        justify-content: space-between;
    }

    .how-we-work__item:not(:last-child) {
        margin-right: 0;
    }

    .how-we-work__block {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .how-we-work__descr {
        width: 100%;
    }

    .image1 {
       background-image: url("../img/HowWork_image1.jpg");
    }

    .image2 {
        background-image: url("../img/HowWork_image2.jpg");
     }

     .image3 {
        background-image: url("../img/HowWork_image3.jpg");
     }

     .image4 {
        background-image: url("../img/HowWork_image4.jpg");
     }

    .how-we-work__image {
        width: 100%;
        height: 284px;
        margin-bottom: 38px;

    }

    .questions__title {
        height: 118px;
    }

    .questions__text {
        max-width: 570px;
        font-size: 20px;
    }

    .footer_container {
        flex-direction: column-reverse;
    }

    .footer__center {
        margin-bottom: 50px;
    }

    .footer__nav {
        display: none;
    }

    .questions__link:last-child {
        margin-bottom: 81px;
    }

    .footer__logo {
        margin-bottom: 12px;
    }
}

@media (max-width: 600px) {

    .container {
        padding: 0 15px;
    }

    .section {
        margin-bottom: 60px;
    }

    .menu {
        height: 470px;
    }

    .menu__x {
        margin-bottom: 50px;
    }

    .menu__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .search {
        width: 300px;
        height: 50px;
        top: 10px;
    }

    .search__text {
        width: 170px;
    }

    .swiper-slide {
        min-height: 400px;
    }

    .slider__information {
        display: flex;
        flex-direction: column;
        left: center;
        top: 10vw;
        align-items: center;
        text-align: center;
    }

    .slider__title {
        margin-bottom: 6px;
        font-size: 30px;
        line-height: 34px;
    }

    .slider__descr {
        margin-bottom: 32px;
        font-size: 12px;
        line-height: 15px;
    }

    .slider__btn {
        padding: 0;
        width: 162px;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }

    .slider__navigation {
        width: 70px;
        height: 10px;
        left: 38%;
        bottom: 15px;
    }

    .slider__item svg{
        width: 10px;
        height: 10px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet :not(:last-child){
        margin-bottom: 10px;
    }

    .about-us__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .about-us__descr {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .about-us__left {
        width: 100%;
        min-height: 398px;
        background-image: url("../img/Rectangle_360.jpg");
        background-position: top;
        background-size: contain;
    }

    .left-content__object {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        background-color: #fff;
    }

    .left-content__descr {
        max-width: 100%;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #333;
    }

    .left-content__btn {
        width: 162px;
        height: 40px;
        padding: 10px 0 14px 0;
        border: 2px solid #ff9900;
        font-size: 12px;
        line-height: 15px;
        color: #ff9900;
    }

    .about-card {
        padding-top: 62px;
        min-height: 235px;
        border: none;
        background-position: top left;
        background-size: 79px;
    }

    .about-us__card-1 {
        background-image: url("../img/Frame1_small.svg");
    }

    .about-us__card-2 {
        background-image: url("../img/Frame2_small.svg");
    }

    .about-card__descr {
        margin: 0;
    }

    .about-card__title {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-card__text {
        font-size: 14px;
        line-height: 28px;
    }

    .how-we-work__title {
        margin-bottom: 22px;
        font-size: 24px;
        line-height: 29px;
    }

    .how-we-work__item {
        font-size: 14px;
        line-height: 17px;
    }

    .how-we-work__list {
        margin-bottom: 16px;
    }

    .image1 {
        background-image: url("../img/HowWork_image1.jpg");
    }

    .image2 {
        background-image: url("../img/HowWork_image2.jpg");
     }

     .image3 {
        background-image: url("../img/HowWork_image3.jpg");
     }

     .image4 {
        background-image: url("../img/HowWork_image4.jpg");
     }

    .how-we-work__image {
        margin-bottom: 16px;
        height: 160px;
    }

    .work-step__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    .work-step__text {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 28px;
    }

    .work-step__btn-1 {
        margin-right: 8px;
        padding: 10px 0 14px 0;
        width: 159px;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
    }

    .work-step__btn-2 {
        width: 118px;
        height: 40px;
        padding: 10px 0 14px 0;
        font-size: 12px;
        line-height: 15px;
    }

    .questions__title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 29px;
        height: 58px;
    }

    .questions__text {
        max-width: 443px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .questions__icon {
        min-width: 30px;
    }

    .questions__icon {
        width: 30px;
        height: 30px;
    }

    .questions__link {
        min-height: 109px;
    }

    .questions__link:hover, .questions__link:focus {
        min-height: 110px;
    }

    .questions__link:hover+.questions__link:not(:last-child),
    .questions__link:focus+.questions__link:not(:last-child){
        min-height: 108px;
    }

    .questions__link:hover+.questions__link:last-child,
    .questions__link:focus+.questions__link:last-child{
        min-height: 108px;
    }

    .questions__link:last-child:hover,
    .questions__link:last-child:focus {
        min-height: 109px;
    }

    .footer {
        padding: 32px 0;
    }

    .footer__center {
        width: 100%;
        margin-bottom: 16px;
    }

    .form__title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 29px
    }

    .form__text {
        font-size: 14px;
        line-height: 32px;
    }

    .form__sending {
        flex-direction: column;

    }

    .form__message {
        margin-bottom: 25px;
    }

    .form_btn {
        padding: 12px 23px 13px 24px;
        margin-bottom: 11px;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 16px;
        border-top: 1px solid #595959;
    }

    .footer__logo {
        margin-bottom: 16px;
        width: 131px;
        height: 42px;
    }

    .footer__social svg{
        width: 40px;
        height: 40px;
    }

    .footer__social:not(:last-child) {
        margin-right: 16px;
    }

}

@media (max-width: 320px) {

    .header__center {
        width: 110px;
        height: 35px;
    }

    .slider__title {
        font-size: 20px;
        line-height: 24px;
    }

    .about-card {
        background-size: 69px 49px;
    }

    .questions__text {
        max-width: 243px;
    }
}


